
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
    &.error-message {
        color: #a94442;
        margin: 5px 0;
    }
}
